$only-white: #fff;
$only-black: #000;
$toolbar-bg: #22283f;
$ov-section-bg: #dee5f0;
$ov-gg: #00aeff;
$orange: #f06414;
$lightOrange: #f67327;
$darken-orange: #ec5728;
$white-btn-bg: #f5f5f5c4;
$white-btn-bg-active: #f5f5f5;
$hero-bg: #9fc5f7;
$icons-bg: #979797;
$orange-btn: #ec5628df;
$heroesList-bg: #e2e6ed;
$btn-bg: #f64d17;
$white-D9: #d9d9d9;
$opacotyWhiteColor: #f5f5f530;
$btnBg-color-1: #78a7e5;
$btnBg-color-2: #f64d17;
