.mapsPage {
  background: linear-gradient(to left, #1e2338, #29314c, #1e2338);
  width: 100%;
  max-width: 905px;
  margin: auto;
  margin: 40px auto 30px auto;
  padding: 30px 24px;
  user-select: none;
}
