@import '../../../../app/styles/variables.scss';

.mapsSection {
  background: $heroesList-bg;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 146px;
}
.categoryTitle {
  font-size: 24px;
  margin-bottom: 72px;
  font-weight: 400;
}
