@import '../../../../app/styles/variables.scss';

.mapsSection {
  background: $heroesList-bg;
  text-align: center;
  padding-bottom: 146px;
}
.categoryTitle {
  font-size: 40px;
  height: 60px;
  font-weight: 400;
  border-bottom: 1px solid $grey;
  border-width: 100%;
}
