@import '../../../../../app/styles/variables.scss';

.slideSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 90px;
}
.gameModeTitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
