@import '../../../../../../app/styles/variables.scss';

.heroFrame {
  width: 194px;
  background: $only-white;
  border-radius: 2px;
  font-family: 'NATS';
  cursor: pointer;
  transition: 0.18s;
  transition: 0.1s;
  &:hover {
    transform: scale(106%);
  }
  &:hover .avatar {
    background: $darken-orange;
  }
  .avatar {
    background: $hero-bg;
    border: 2px solid $only-white;
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 15px;
    .classIcon {
      filter: brightness(0);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $only-black;
      border-radius: 2px;
    }
    p {
      font-size: 24px;
      text-align: center;
    }
  }
}
